#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin-top: 20px
}

.read-the-docs {
  color: #888;
}

.newPane {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newPane h4 {
  margin-top: 0;
  color: #333; /* Dark gray for better readability */
  font-size: 1.25rem; /* 20px */
}

.newPane p {
  font-size: 1rem; /* 16px */
  line-height: 1.6; /* 26px line spacing for readability */
  color: #666; /* Lighter text color for easier reading */
}

.button {
  width: 200px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
